@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300&family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700;800;900&display=swap');
:root {
--bs-slime: #baff39;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin-top: 0;
}

html {
  scroll-behavior: smooth;
}
h1 {
  font-family: 'Roboto Slab', sans-serif;
  padding-bottom: 40px;
}
/*--------------------------------------------------------------
# header
--------------------------------------------------------------*/
header{
position: fixed;
top: 0;
left: 0;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
transition: 0.6s;
padding: 40px 100px;
}
header .logo {
position: relative;
font-weight: 700;
color: #fff;
text-decoration: none;
font-size: 2em;
}
header ul {
  position: relative;
display: flex;
justify-content: center;
align-items: center;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.5s;
}


/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  padding: 50px 0;
  overflow: hidden;
}

.portfolio-title {
  text-align: center;
}

/* -----------------------------
-------Hero Section style-------
------------------------------*/
.banner-image {
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh;
  width: 100%;
}
@media (max-width: 768px) {
  .banner-image {
    min-height: 30vh;
  }
  .txt {
      font-size: 80px;
  }
}
@media (max-width: 600px) {
  .banner-image {
    min-height: 10px;
  }
  .txt {
      font-size: 60px;
  }
} 
.banner-text {
  font-family: 'Baloo 2', cursive;
  font-size: 75px;
  font-weight: 800;
}
.banner-container > .txt{
  color: black;
  animation: glow 2s ease-in-out infinite;
}
@keyframes glow {
  0%, 100%{
    color: rgb(0, 0, 0);
    text-shadow: 0 0 12px var(--bs-slime), 0 0 50px var(--bs-slime), 0 0 100px var(--bs-slime);
  }
  10%, 90% {
    color: rgb(255, 255, 255);
    text-shadow: none;
  }
}
.banner-container > .txt:nth-child(2) {
  animation-delay: 0.25s;
}
.banner-container > .txt:nth-child(3) {
  animation-delay: 0.5s;
}
.banner-container > .txt:nth-child(4) {
  animation-delay: 0.75s;
}
.banner-container > .txt:nth-child(5) {
  animation-delay: 1s;
}
.banner-container > .txt:nth-child(6) {
  animation-delay: 1.25s;
}
.banner-container > .txt:nth-child(7) {
  animation-delay: 1.50s;
}
/* -------------------------------
-------Portfolio Section Style----
----------------------------------*/
.portfolio-img {
  text-align: center;
}
.portfolio-img img {
  margin-bottom: 20px;
}
.portfolio-items .portfolio-item {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 30px;
  transition: all ease-in-out 0.4s;
  height: 95%;
}
.portfolio-items .portfolio-item h4 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 24px;
  text-align: center;
}
.portfolio-items .portfolio-item h4 a {

  text-decoration: none;
  color: var(--bs-gray);
  transition: ease-in-out 0.3s;
}
.portfolio-items .portfolio-item:hover {
  transform: translateY(-10px);
  background-color: var(--bs-white);
  box-shadow: 5px 15px 20px 5px var(--bs-gray-300);
}
.portfolio-items .portfolio-item:hover h4 a {
  color: rgb(40, 187, 77);
}
